<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Clicker</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/noReturn.js' %}"></script>
</head>
<body>
    <form method="POST">
        {% csrf_token %} 
        Clicks: <input name="cont" type="text" id="clicks" value="{{cont}}"/>
        <button type="sumbit">Click me</button>
    </form>
</body>
</html>
