<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Welcome</H1>
    <a href="{% url 'noReturn' %}"><button type="submit">No return</button></a>
    <a href="{% url 'click' %}"><button type="submit">Count clicks</button></a>
    <a href="{% url 'select' %}"><button type="submit">select Time</button></a>
</body>
</html>