<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/noReturn.js' %}"></script>
</head>

<body onload="deshabilitaRetroceso();" onpageshow="if (event.persisted) deshabilitaRetroceso();" onunload="goodbay()">
    <h1>Hola</h1>
    <script type="text/javascript">
        window.onbeforeunload = function() {
            return "¿Estás seguro que deseas salir de la actual página?"
        }
      </script>
    <a href="{% url 'index' %}"><button type="submit">Return</button></a>
    <a href="{% url 'test' %}"><button type="submit">Test</button></a>

</html>