<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Select your count timers:</h1>
    <form method="POST" action="{% url 'timer' %}">
      {% csrf_token %} 
     <p>Hours: <input type="text" name="hour"/></p> 
     <p>Minutes:<input type="text" name="min"/></p>
     <input type="submit" value="Accept"/>
    </form>
  </body>
</html>
