<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1> Test Return </H1>
    <a href="{% url 'index' %}"><button type="submit">Return to index</button></a>
</H1>
</body>
</html>