<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="coutTime()" onbeforeunload="confirmExit()">
    <input type="hidden" id="h" value="{{hour}}" readonly/>
    <input type="hidden" id="m" value="{{minute}}" readonly/>
    <input type="hidden" id="s" value="{{secundo}}" readonly/>
    <div >
        <h1 id="demo" value=""></h1>
        <input  type="text" id="news" value="" name="time"/>
    </div>
    {% load static %}
    <script type="text/javascript">
        var news;
        var interval;
        var h=document.getElementById("h");
        var m=document.getElementById("m");
        var s=document.getElementById("s");

        function actualizarHora(i) {
            if (i<10) {i = "0" + i};  // Añadir el cero en números menores de 10
            return i;
        }

        function coutTime(){
            h=parseInt(h.value);
            m=parseInt(m.value);
            s=parseInt(s.value);
            news = document.getElementById("demo").innerHTML = actualizarHora(h)+":"+actualizarHora(m)+":"+actualizarHora(s);
            document.getElementById("news").value = news
            interval = setInterval(function(){setInter()
                innerHTML();
             // document.body.innerHTML = h+" h "+m+" m "+s+" s";
           },1000);
        }
        
        function setInter() {
            if(s > 0 && s <= 60) {
                s--;
            }
            else if (m > 0 && m <= 60) {
                m--;
                s = 59;
            }
            else if (h > 0) {
                h--;
                m = 59;
                s = 59;
            }
            else {
                h = 0;
                m = 0;
                s = 0;
                clearInterval(interval);
                alert("Tiempo Finalizado");
                document.getElementById('submitButton').click();
            }
        }
        
        function innerHTML(){
            news = document.getElementById("demo").innerHTML = actualizarHora(h)+":"+actualizarHora(m)+":"+actualizarHora(s);
            document.getElementById("news").value = news
        }

        window.onbeforeunload = confirmExit;
    function confirmExit() {
        return "You have attempted to leave this page. Are you sure?";
    }
    </script>
    <form method="post"  action="{% url 'test' %}">
        {% csrf_token %}
        <input id="submitButton" class="button" name="accept" type="submit" value="Send"/>

    </form>
</body>
</html>